@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address, ol, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  background-color:#f5f5f5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



.wrap{
    margin:1% 10%;
    display:flex;
    background-color: #f5f5f5;
}

.prof_outline{
	margin: 7%;
}

.main_column{
    width:80%;
    margin-left:5%;
    background-color:white;
}

.prof_outline h2{
	font-size: 2.4rem;
	margin-bottom: 15%;
}

.prof_outline ul{
	list-style: square;
}

.user{
	margin-bottom: 5%;
	font-size: 1.6rem;
}

.con_List{
	margin-bottom: 5%;
	font-size: 1.6rem;
}
