@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  background-color:#f5f5f5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



.wrap{
    margin:5% 10%;
	padding: 1% 0%;
    background-color: white;
}

.register_outline{
    padding: 5% 20%;
}

.register_outline h2{
    font-size: 1.6rem;
    font-weight: bold;
}

.red{
    color: red;
}

.register dl{
    margin: 5% 0%;
}

.register dt{
    font-size: 1.4rem;
    padding-bottom: 1%;
}

.register dd{
    padding-bottom: 5%;
}

.register input{
    width: 100%;
    height: 4vh;
    border-radius: 8px;
    font-size: 1.2rem;
}

.button{
    text-align: center;
}

#submit{
    width: 50%;
    height: 5vh;
    border: white;
    border-radius: 16px;
    font-size: 1.5rem;
}